<mat-toolbar class="nav-center" color="primary">
  <span>Casa de cultura</span>
  <!-- <span class="example-spacer"></span> -->
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/dashboard/usuarios">Usuarios</button>
    <button mat-button routerLink="/dashboard/roles">Roles</button>
    <button mat-button routerLink="/dashboard/alumnos">Alumnos</button>
    <button mat-button routerLink="/dashboard/cursos">Cursos</button>
    <button mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/login">
      <mat-icon>logout</mat-icon>
    </button>


</mat-toolbar>