<div class="body">
  <div class="login">
    <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
      <img src="./assets/img/user.png" alt="" width="40%">
      <h1>Login</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input type="text" matInput formControlName="usuario">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
      <br>
      <button type="submit" class="ancho altura" mat-raised-button color="primary"
        [disabled]="form.invalid">Ingresar</button>
      <div class="register">
        <p>Aún no eres usuario?</p>
        <a routerLink="/register">Registrate</a>
      </div>
    </form>
  </div>
</div>
