<div class="container-fluid">
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Telefono 1</th>
      <th>Telefono 2</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alumno of alumnos">
      <td>{{ alumno.id_alumno }}</td>
      <td>{{ alumno.nombre_alumno }}</td>
      <td>{{ alumno.apellido_p }}</td>
      <td>{{ alumno.apellido_m }}</td>
      <td>{{ alumno.telefono_1 }}</td>
      <td>{{ alumno.telefono_2 }}</td>
    </tr>
  </tbody>
</table>
</div>